@model SZIntraV3_1_WebSite.Models.Tq.VmDirectCertification
@using Common.Utility.Extension
@using SZIntraV3_1_WebSite.Models.Tq
@using SZIntraV3_1_WebSite.Models.System
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body
        {
            font-family: 'GE Inspira';
            font-size: 16px;
            background-color: #EEE;
            width: 800px;
        }
        
        .content
        {
            width: 800px;
        }
        
        div
        {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: auto;
        }
        
        table
        {
            width: 100%;
            background-color: #FFF;
            white-space: normal;
            border-collapse: collapse;
        }
        
        td
        {
            border-width: 1px;
            border-color: Gray;
            border-style: solid;
            padding: 5px 15px 5px 5px;
            display: block;
            width: 300px;
        }
        
        a
        {
            padding: 0 5px 0 5px;
        }
        
        .content
        {
            margin: 0 auto;
            width: 700px;
        }
        
        .preview
        {
            font-size: 1.2em;
        }
        
        .set-header
        {
            text-align: center;
            font-size: 1.2em;
            font-weight: bolder;
        }
        
        .label
        {
            font-weight: bold;
            width: 150px;
        }
        
        .warning
        {
            color: #BE504F;
        }
        
        .detail
        {
            width: 550px;
        }
    </style>
</head>
<body>
    <div class="content">
        <div>
            <p>
                Pay Attentation! You Have a <strong>Direct Certification</strong> </p>
        </div>
        <div>
            <table>
                <tbody>
                    @{
                        if (@Model.certification.category.Equals(CertificationCategory.STC.ToLowerString()))
                        {
                            <tr>
                                <td class="label">
                                    Skill Code
                                </td>
                                <td class="detail">@Model.certification.certification_item
                                </td>
                            </tr>   
                        }
                        else if (@Model.certification.category.Equals(CertificationCategory.LLC.ToLowerString()))
                        {
                         <tr>
                                <td class="label">
                                    Lesson Subject
                                </td>
                                <td class="detail">@Model.certification.certification_item
                                </td>
                            </tr>   
                        }
                    }
                    <tr>
                        <td class="label">
                            Certificated to
                        </td>
                        <td class="detail">@VmNativeUser.GetNativeUserByEmployeeId(@Model.certification.employee_id.Value).name_cn
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Granted By
                        </td>
                        <td class="detail">@VmNativeUser.GetNativeUserByUserId(@Model.action.handler.Value).name_cn
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Create Date
                        </td>
                        <td class="detail">@Model.certification.issue_date.Value.ToString("yyyy-MM-dd HH:mm")
                        </td>
                    </tr>
                     <tr>
                        <td class="label">
                            Expire Date
                        </td>
                        <td class="detail">@Model.certification.expire_date.Value.ToString("yyyy-MM-dd HH:mm")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            Please go to<a href='http://3.41.199.73:9000'> Quality Digitalization Tools </a>
            for details.
        </div>
    </div>
</body>
</html>
